BasedOnStyle: WebKit
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: Empty
BreakConstructorInitializers: BeforeColon
ColumnLimit: 120
EmptyLineBeforeAccessModifier: LogicalBlock
PackConstructorInitializers: Never
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: true
SpaceBeforeCpp11BracedList: false
Standard: c++20
