[submodule "third-party/asio"]
	path = third-party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json
